/*
https://coolors.co/3d5a80-98c1d9-e0fbfc-ee6c4d-293241
3D5A80 - Bdazzled Blue
98C1D9 - Pale Cerulean
E0FBFC - Light Cyan
EE6C4D - Burnt Sienna
293241 - Gunmetal
*/

/* Global styles
--------------------------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #293241;
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: #3D5A80;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-size: 80px;
  line-height: 1;
}

h2 {
  font-size: 40px;
}

h1, h2 {
  font-family: 'Kaushan Script', cursive;
  font-weight: 400;
  margin: 0;
}

.content-wrap {
  width: 800px;
  margin: 0 auto;
  padding: 60px 0;
}

/*Adjusting 600px Images for Retina Display*/

img {
  width: 300px;
}

/* Profile
--------------------------------------*/
header {
  background: #3D5A80;
  color: #98C1D9;
}

.mandarin {
  font-family: 'Noto Serif SC', serif;
}

/* Project
--------------------------------------*/
.projects {
  background: #98C1D9;
}

.projects a {
  color: #EE6C4D;
}

.projects .btn {
  color: #98C1D9;
  background: #293241;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}

.projects .btn:hover {
  background: rgba(41,50,65,80%);
}

.project-item {
  overflow: hidden;
  border-bottom: 1px solid #293241;
  padding: 25px 0;
}

.project-item img {
  float: left;
  margin-right: 20px;
}

.project-item h3 {
  margin-top: 0;
}
/* Work Experience
--------------------------------------*/
.work-experience {
  background: #E0FBFC;
}


/* Education
--------------------------------------*/



/* Contact Info
--------------------------------------*/
footer {
  background: #EE6C4D;
}
